
@using GG.Core;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home";
}

@{
    List<PrivateTravelPackage> travels = (List<PrivateTravelPackage>)ViewBag.Travels;
    List<PrivateTravelPackage> swipper =  (List<PrivateTravelPackage>)ViewBag.Swipper;
    List<PrivateRating> ratings = (List<PrivateRating>)(ViewBag.Ratings);
    List<PrivateTravelPackage> bestPackagesForUser =  (List<PrivateTravelPackage>)ViewBag.BestPackagesForUser;
    string idUser = ViewBag.CurrentIdUser.ToString();
}

@* Global Gaways Inc
Autor: Norma Antonio Altamirano
Fecha: 03-11-2021
ToDo: Pestaña para buscar palabras dentro de la página

<!-- .btn -> .btnInicio -->


*@

<form action="" id="search-form">
    <input type="search" placeholder="Buscar aqui..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>

@* Global Gaways Inc
Autor: Norma Antonio Altamirano
Fecha: 03-11-2021
ToDo: Muestra las imagenes como tipo carrusel, ademas de que incluye informacion de lugares turisticos en el mundo
*@
<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">
            
                  
       
      @foreach (var item in swipper)
       {
           <div class="swiper-slide slide">
                <div class="content">
                    <span>@item.Country</span>
                    <h3>@item.NamePackage</h3>
                    <p>@item.Review</p>
                </div>
                <div class="image">
                    <img src="@item.PathingImage" alt="">
                </div>
            </div>
       }
        

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<!-- HOME SECTION ENDS -->

<!-- POPULAR SECTION  -->
@* Global Gaways Inc
Autor: Fernando Jose Sotelo Romero
Fecha: 04-11-2021
ToDo: Muestra los paquetes populares de la empresa
*@
<section class="popular" id="popular">

    <h3 class="sub-heading"> Nuestros Viajes </h3>
    @if(!string.IsNullOrEmpty(idUser)){

         <h1 class="heading"> Recomendados para ti </h1>
    }
    else
    {
        <h1 class="heading"> Lo Más Popular </h1>
    }
   

    <div class="box-container">
       
        @foreach(var item in bestPackagesForUser)
        {
            <div class="box">
                @if (!string.IsNullOrEmpty(idUser))
                {
                    <a onclick="Like(@item.Id,'@idUser')" class="fas fa-heart"></a>
                }                else
                {
                     <a  asp-area="Identity" asp-page="/Account/Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="fas fa-heart"></a>
                }
            <a href="#" class="fas fa-eye"></a>
            <img src="@item.PathingImage" alt="">
            <h3>@item.NamePackage</h3>
            <div class="stars">
                    @{
                        
                        for(int i= 0; i < (int)item.PunctuationAverage; i++)                 
                       {
                    
                           
                            <i class="fas fa-star"></i>
                        }

                        if(item.PunctuationAverage % 1 != 0)
                        {
      
                            <i class="fas fa-star-half-alt"></i>
                        }

                        for(int j = (int)Math.Ceiling(item.PunctuationAverage) ; j < 5; j++)
                        {
                            <i class="far fa-star"></i>

                        }
                    }            
            </div>
            <span>$@item.Price dlls</span>
             @if(!string.IsNullOrEmpty(idUser))
                {
                     <a onclick="AddTravel(@item.Id,'@idUser')" class="btnInicio">Añadir al Carrito</a>
                }
                else
                {
                     <a  asp-area="Identity" asp-page="/Account/Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btnInicio">Añadir al Carrito</a>
                }
               
        </div>
        }
        
      

    </div>

</section>


@* Global Gaways Inc
Autor: Fernando Jose Sotelo Romero
Fecha: 04-11-20021
ToDo: Dara una explicacion breve respecto a nuestra empresa y acerca de nosotros como trabajadores.
*@
<section class="about" id="about">

    <h3 class="sub-heading"> Acerca de Nosotros </h3>
    <h1 class="heading"> ¿Por qué escoger Global Getaways Inc? </h1>

    <div class="row">

        <div class="image">
            <img src="imagenes/imagenes/GG_logo.png" alt="">
        </div>

        <div class="content">
            <h3>La mejor agencia de viajes</h3>
            <p>¿Estás cansado de la rutina? ¿Buscas un lugar para quedarte y descansar con tu familia? Estás en el lugar correcto! Nuestro agencia de viajes ofrece paquetes históricos y de lujo para ti. Combina el estilo y las comodidades modernas con los valores tradicionales.</p>
            <p>Todos los viajes están están equipados para que tu experiencia sea única e inigualable. ¡Experimenta nuestra cálida hospitalidad, alta calidad de servicio y comodidad excepcional! ¡Has una reserva para las vacaciones de tus sueños hoy!</p>
            <div class="icons-container">
                <div class="icons">
                    <span>Increíble Experiencia</span>
                </div>
                <div class="icons">
                    <span>Pago Fácil</span>
                </div>
                <div class="icons">
                    <span>Servicio 24/7</span>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- ABOUT SECTION ENDS -->

<!-- PACKAGES SECTION  -->
@* Global Gaways Inc
Autor: Fernando Jose Sotelo Romero
Fecha: 04-11-2021
ToDo: Muestra los paquetes que tenemos como empresa y los paquetes del mes
*@
<section class="paquetes" id="paquetes">

    <h3 class="sub-heading"> Nuestros Paquetes </h3>
    <h1 class="heading"> Paquetes mas gustados </h1>

    <div class="box-container">

        @foreach(var package in travels)
        {
            <div class="box">
            <div class="image">
                <img src="@package.PathingImage" alt="">
                 @if (!string.IsNullOrEmpty(idUser))
                    {
                        <a onclick="Like(@package.Id,'@idUser')" class="fas fa-heart"></a>
                    }
                    else
                    {
                        <a  asp-area="Identity" asp-page="/Account/Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="fas fa-heart"></a>
                    }
                    
            </div>
            <div class="content">
              <div class="stars">
                    @{
                        
                        for(int i= 0; i < (int)package.PunctuationAverage; i++)                 
                       {
                    
                           
                            <i class="fas fa-star"></i>
                        }

                        if(package.PunctuationAverage % 1 != 0)
                        {
      
                            <i class="fas fa-star-half-alt"></i>
                        }

                        for(int j = (int)Math.Ceiling(package.PunctuationAverage) ; j < 5; j++)
                        {
                            <i class="far fa-star"></i>

                        }
                    }            
            </div>
                <h3>@package.NamePackage</h3>
                <p>
                    @package.Review
                </p>
                @if (!string.IsNullOrEmpty(idUser))
               {
                        <a onclick="AddTravel(@package.Id,'@idUser')"  class="btnInicio">Añadir al Carrito</a>
               }
                else
                {
                        <a  asp-area="Identity" asp-page="/Account/Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btnInicio">Añadir al Carrito</a>
                }

                <span class="price">$@package.Price dlls</span>
            </div>
        </div>
        }
        
    </div>

</section>

<!-- PACKAGES SECTION ENDS -->

<!-- REVIEW SECTION  -->
@* Global Gaways Inc
Autor: Norma Antonio Altamirano
Fecha: 05-11-2021
ToDo:Sección en la que se muestran y se agregan las reseñas de nuestros clientes
*@
<section class="review" id="review">

    <h3 class="sub-heading"> Reseñas de nuestros clientes </h3>
    <h1 class="heading"> Sus opiniones </h1>

    <div class="swiper-container review-slider">

        <div class="swiper-wrapper">


            @foreach(var rating in ratings){

                 <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="@rating.IdUserNavigation.ProfileImg" alt="">
                    <div class="user-info">
                        <h3>@rating.IdUserNavigation.Name @rating.IdUserNavigation.Lastname</h3>
                        <div class="stars">
                       @{
                        
                        for(int i= 0; i < rating.Punctuation; i++)                 
                       {
                    
                           
                            <i class="fas fa-star"></i>
                        }

                        if(rating.Punctuation % 1 != 0)
                        {
      
                            <i class="fas fa-star-half-alt"></i>
                        }

                        for(int j = rating.Punctuation ; j < 5; j++)
                        {
                            <i class="far fa-star"></i>

                        }
                          }
                        </div>
                    </div>
                </div>
                <p>@rating.Comment</p>
            </div>

            }
           

        </div>

    </div>

</section>

<!-- REVIEW SECTION ENDS -->