
@using GG.Core;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Home";
}

@{
    List<PrivateTravelPackage> travelPackages = (List<PrivateTravelPackage>)ViewBag.Travels;
    List<PrivateTravelPackage> swipper =  (List<PrivateTravelPackage>)ViewBag.Swipper;
}
<form action="" id="search-form">
    <input type="search" placeholder="Buscar aqui..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>
<!--SEARCH SECTION ENDS-->
<!-- HOME SECTION -->

<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">

            
        @foreach (var item in swipper)
       {
           <div class="swiper-slide slide">
                <div class="content">
                    <span>@item.Country</span>
                    <h3>@item.NamePackage</h3>
                    <p>@item.Review</p>
                </div>
                <div class="image">
                    <img src="@item.PathingImage" alt="">
                </div>
            </div>
       }


        

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<!-- HOME SECTION ENDS -->
<!-- POPULAR SECTION  -->

<section class="popular" id="popular">

    <h3 class="sub-heading"> Nuestros Viajes </h3>
    <h1 class="heading"> Lo Más Popular </h1>

    <div class="box-container">
       
        @foreach(var item in travelPackages)
        {
             <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="@item.PathingImage" alt="">
            <h3>@item.NamePackage</h3>
            <div class="stars">
                    @{
                        
                        for(int i= 0; i < (int)item.Punctuation; i++)                 
                       {
                    
                           
                            <i class="fas fa-star"></i>
                        }

                        if(item.Punctuation % 1 != 0)
                        {
      
                            <i class="fas fa-star-half-alt"></i>
                        }

                        for(int j = (int)Math.Ceiling(item.Punctuation) ; j < 5; j++)
                        {
                            <i class="far fa-star"></i>

                        }
                    }            
            </div>
            <span>$@item.Price dlls</span>
            <a href="#" class="btn">Añadir al Carrito</a>
        </div>
        }
        
       @* <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="imagenes/imagenes/Mejores-Playas-de-Cancún.jpg" alt="">
            <h3>Cancún</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$800 dlls</span>
            <a href="#" class="btn">Añadir al Carrito</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="imagenes/imagenes/Sydney Harbour Bridge.jpg" alt="">
            <h3>Sydney Harbour Bridge</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$1200 dlls</span>
            <a href="#" class="btn">Añadir al Carrito</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="imagenes/imagenes/tailandia.jpg" alt="">
            <h3>Thailandia</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$2,400 dlls</span>
            <a href="#" class="btn">Añadir al Carrito</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="imagenes/imagenes/noruega.jpg" alt="">
            <h3>Noruega</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$2,250 dlls</span>
            <a href="#" class="btn">Añadir al Carrito</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="imagenes/imagenes/Machu Picchu.jpg" alt="">
            <h3>Machu Picchu</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$1250 Dlls</span>
            <a href="#" class="btn">Añadir al Carrito</a>
        </div>*@

    </div>

</section>

<!-- POPULAR SECTION ENDS -->
<!-- ABOUT SECTION -->

<section class="about" id="about">

    <h3 class="sub-heading"> Acerca de Nosotros </h3>
    <h1 class="heading"> ¿Por qué escoger Global Getaways Inc? </h1>

    <div class="row">

        <div class="image">
            <img src="imagenes/imagenes/GG_logo.png" alt="">
        </div>

        <div class="content">
            <h3>La mejor agencia de viajes</h3>
            <p>¿Estás cansado de la rutina? ¿Buscas un lugar para quedarte y descansar con tu familia? Estás en el lugar correcto! Nuestro agencia de viajes ofrece paquetes históricos y de lujo para ti. Combina el estilo y las comodidades modernas con los valores tradicionales.</p>
            <p>Todos los viajes están están equipados para que tu experiencia sea única e inigualable. ¡Experimenta nuestra cálida hospitalidad, alta calidad de servicio y comodidad excepcional! ¡Has una reserva para las vacaciones de tus sueños hoy!</p>
            <div class="icons-container">
                <div class="icons">
                    <span>Increíble Experiencia</span>
                </div>
                <div class="icons">
                    <span>Pago Fácil</span>
                </div>
                <div class="icons">
                    <span>Servicio 24/7</span>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- ABOUT SECTION ENDS -->
<!-- PACKAGES SECTION  -->

<section class="paquetes" id="paquetes">

    <h3 class="sub-heading"> Nuestros Paquetes </h3>
    <h1 class="heading"> Paquetes del mes </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="imagenes/imagenes/Puerto_Vallarta.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Puerto Vallarta</h3>
                <p>
                    Este paquete incluye: Vuelo en Volaris. Alojamiento en Flamingo Vallarta Hotel & Marina. Traslado Privado.
                </p>
                <a href="#" class="btn">Añadir al Carrito</a>
                <span class="price">$250 dlls</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="imagenes/imagenes/niagara_falls.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Niagara Falls</h3>
                <p>Este paquete incluye: Vuelo directo. Alojamiento en Motel 6 Niagara Falls. Transporte incluido.</p>
                <a href="#" class="btn">Añadir al Carrito</a>
                <span class="price">$1300 dlls</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="imagenes/imagenes/rusia__1280x720.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Rusia</h3>
                <p>Este paquete incluye: Retro Moscow on Kurskaya. Vuelo con escalas. Tour incluido al centro de la ciudad</p>
                <a href="#" class="btn">Añadir al Carrito</a>
                <span class="price">$1750 dlls</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="imagenes/imagenes/suecia.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Suecia</h3>
                <p>Este paquete incluye: Vuelo con escalas. Hotel en el centro de la ciudad. Desayuno incluido.</p>
                <a href="#" class="btn">Añadir al Carrito</a>
                <span class="price">$1700 dlls</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="imagenes/imagenes/Alemania.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Alemania</h3>
                <p>Este paquete incluye: Vuelo redondo con escala. Hotel centrico. Transporte a las actividades.</p>
                <a href="#" class="btn">Añadir al Carrito</a>
                <span class="price">$1800 dlls</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="imagenes/imagenes/amsterdam.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Amsterdam</h3>
                <p>Este paquete incluye: vuelo directo. Alojamiento en hotel centrico. Transporte privado. Desayunos incluidos.</p>
                <a href="#" class="btn">Añadir al Carrito</a>
                <span class="price">$1650 dlls</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="imagenes/imagenes/china.jpeg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>China</h3>
                <p>Este paquete incluye: Tour personalizado. Vuelo con escala. Hotel en buena zona. Transporte</p>
                <a href="#" class="btn">Añadir al Carrito</a>
                <span class="price">$2500 dlls </span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="imagenes/imagenes/francia.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Hotel Derby Eiffe</h3>
                <p>Este paquete incluye: Vuelo con escalas. Hotel Derby Eiffel. Transporte incluido a lugares centricos.</p>
                <a href="#" class="btn">Añadir al Carrito</a>
                <span class="price">$1130 Dlls</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="imagenes/imagenes/italy.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Italia</h3>
                <p>Vuelo con escalas. Hospedaje en Novotel Roma La Rustica. Transporte del aeropuerto al hotel incluido. </p>
                <a href="#" class="btn">Añadir al Carrito</a>
                <span class="price">$1300 Dlls</span>
            </div>
        </div>

    </div>

</section>

<!-- PACKAGES SECTION ENDS -->
<!-- REVIEW SECTION  -->

<section class="review" id="review">

    <h3 class="sub-heading"> Reseñas de nuestros clientes </h3>
    <h1 class="heading"> Sus opiniones </h1>

    <div class="swiper-container review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="imagenes/clients/Alexis.jpg" alt="">
                    <div class="user-info">
                        <h3>Alexis Hernández</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>Sin duda una experiencia inigualable. Recomendado ampliamente, sin duda la mejor agencia de viajes. El trato fue excelente, programaré mi próximo viaje en esta agencia.</p>
            </div>

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="imagenes/clients/Emi.jpg" alt="">
                    <div class="user-info">
                        <h3>Emiliano Burrola</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>Excelente servicio, desde los vuelos hasta la estancia en el hotel. Recomiendo esta agencia, además su servicio al cliente es excelente. Todo en tiempo y forma. Gracias a todo el equipo.</p>
            </div>

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="imagenes/clients/Fernando.jpg" alt="">
                    <div class="user-info">
                        <h3>Fernando Sotelo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>Estoy totalmente satisfecho con el servicio brindado por la agencia. Las mejores recomendaciones para mis viajes. Definitivamente volveré a contratar un paquete con ellos.</p>
            </div>

        </div>

    </div>

</section>

<!-- REVIEW SECTION ENDS -->