@* Global Gaways Inc
Autor: Norma Antonio Altamirano
Fecha: 16-11-2021
ToDo: Esta sección muestra los paquetes que el usuario a comprado y calcula el total
*@

@using Microsoft.AspNetCore.Identity
@using GG.Core;
@inject SignInManager<PrivateUser> SignInManager
@inject UserManager<PrivateUser> UserManager
@model ShoppingCart<PrivateTravelPackage>

@{

    ViewData["Title"] = "Chopping Cart";

}



  <!-- Cart Items -->
  <div class="container-md cart">
    <table id="tablaProduct">
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
      </tr>

        @foreach(var cartItem in Model.Items)
        {
        <tr id="@string.Concat("cartItem",cartItem.Id)" >
        <td>
          <div class="cart-info">
            <img src="@cartItem.Item.PathingImage" alt="">
            <div>
              <p>@cartItem.Item.NamePackage</p>
              <span class="price">$@cartItem.UnitPrice dlls</span>
              <br />
              <a href="#" onclick="UpdateDelete('@cartItem.Id',@cartItem.Item.Id,'@cartItem.ShoppingCart.User.Id')">Eliminar</a>
            </div>
          </div>
        </td>
        <td>
            <button class="btnC" onclick="UpdateDown('@cartItem.Id',@cartItem.Item.Id,'@cartItem.ShoppingCart.User.Id')" type="button" id="menos">-</button>
            <input id="@string.Concat("contador",cartItem.Id)" type="text" style="text-align: center; font-size: medium; " value="@cartItem.Quantity">
            <button class="btnC" onclick="UpdateUp('@cartItem.Id',@cartItem.Item.Id,'@cartItem.ShoppingCart.User.Id')" type="button" id="mas" >+</button>
               
       </td>
        <td class="price">$@cartItem.Total dlls</td>
      </tr>

        }
      
     
    </table>

    <div class="total-price">
      <table>
        <tr>
          <td>Subtotal</td>
          <td>$@Model.Subtotal</td>
        </tr>
        <tr>
          <td>Tax</td>
          <td>$@( Model.Subtotal * (decimal).16)</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>$@(Model.Subtotal + Model.Subtotal* (decimal)16)</td>
        </tr>
      </table>
      <a href="#" class="checkout btn">Checkout</a>

    </div>

  </div>
